div.background
{
width:100%;
height:100%;
border-color:5px;
padding-top:10px;

background-color:#FFFAFA;
}
div.header{
width:100%;
padding-top:0.3px;
padding-bottom:0.3px;
background-color:gray;
}

div.name{
width:40%;
height:55px;
margin:30px 0px;
padding-top:0px;
padding-bottom:0px;
background-color:gray;
}

div.display{
position:absolute;
left:42%;
top:155px;
width:55%;
height:649px;;
border-style:solid;
border-color:gray;
border-width:10px;
text-align:center;
}

div.inheader{
margin-top: 0px;
margin-bottom:20px;
border:solid;
border-color:gray;
background-color:gray;
text-align:center;
}
div.data{
width:100%;
height:519px;
border:none;
text-align:center;
overflow:scroll;
}

div.data2{
width:100%;
height:519px;
border:none;
text-align:center;
}
p.pheader
{
color:White;
text-align:center;
text-decoration:none;
font-size:33px;
font-family:"Times New Roman";
font-weight:lighter;
}
a:hover{color:green;}