div.background
{
width:100%;
height:100%;
border-color:5px;
padding-top:100px;
background-repeat:no-repeat;
background-color:gray;
}

div.text{
position:absolute;
background-color:none;
margin-top:30px;
margin-left:40%;
margin-right:40%;
border-color:blue;
border-width:10px;
}

p.stb{
color:White;
text-align:center;
text-decoration:underline;
font-size:40px;
font-family:"Times New Roman",Castellar;
font-weight:lighter;
}