
div.background
{
width:100%;
height:100%;
border-color:5px;
/*background-image:url('backg.png');*/
background-repeat:no-repeat;
background-color:gray;
}

div.text{
position:absolute;
margin-top:280px;
margin-left:40%;
margin-right:35%;
border:none;
}

p.abc{
color:White;
text-align:center;
text-decoration:none;
font-size:40px;
font-family:"Times New Roman";
font-weight:lighter;
}
a:hover{ color: #9ACD32; }