
div.container
{
width:100%;
/*height:100%;*/
margin:0px;
border:1px solid gray;
line-height:150%;
background-color:#b0e0e6;
}
div.header
{
width:100%;
height: 200px;
background-image:url('Bankimage.png');
margin: 0px;
padding: 1px;
border: none;
}
div.background
{
width:100%;
border-width:1px;
border-color:gray;
}
div.b1{
margin:10px 10px 10px 10px;
padding:10px 10px 10px 10px;
background-color:gray;
}
div.b2{
margin:10px 10px 10px 10px;
padding:10px 10px 10px 10px;
background-color:#006400;
}
div.b3{
margin:10px 10px 10px 10px;
padding:10px 10px 10px 10px;
background-color:DEB887;
}

ul#menu { width: 100%; 
height: 43px; 
background-color: #989898; 
font-size: 0.8em; 
font-family: "Lucida Grande", Verdana, sans-serif; 
font-weight: bold; 
list-style-type: none; 
margin: 0; 
padding: 0; }

ul#menu li a { 
height: 43px; 
color: #FFF0F5; 
text-decoration: none; 
display: inline; 
float: left; 
line-height: 200%;
padding: 8px 30px 0; }


ul#menu li a:hover { color: #9ACD32; }
a:hover{color:#9ACD32;}
 
div.li
{
width: 100%;
height:28px;
padding:0.5em;
color:;
background-color:gray;
}
td{
font-family:SolaimanLipi;
font-size:25px;
}
table{
height:30px;
}
a
{
text-decoration:none;
}

div.footer
{
text-align:center;
width:100%;
padding: 0.2em;
padding-bottom:0.2em;
color:white;
background-color:gray;
}
