
div.container
{
width:100%;
/*height:100%;*/
margin:0px;
border:1px solid gray;
line-height:150%;
background-color:#b0e0e6;
}
div.header
{
width:100%;
height: 200px;
background-image:url('Bankimage.png');
margin: 0px;
padding: 1px;
border: none;
}
div.background
{
width:100%;
border-width:1px;
border-color:gray;
}
div.info
{

width:45%;
height:570px;
border-style:groove;
border-width:5px;
border-color:#008000;
padding:10px;
margin-left:10px;
margin-top:3px;
}

div.feature
{
position:absolute;
width:45%;
height:570px;
margin-left:50%;
margin-right:10px;
top:257px;
border-style:groove;
border-width:5px;
border-color:#008000;
padding:10px;
padding-top:10px;
}
div.topofea{
margin-top: 10px;
border:solid;
background-color:gray;
text-align:center;
}
div.update{
border-color:none;
padding-top:30px;
line-height:300%;
}

p.name{
color:green;
text-align:center;
font-family:"Times New Roman";
font-weight:bold;
font-size:50px;
text-decoration:underline;
}
p.tname{
color:black;
font-family:"Times New Roman";
font-size:20px;
text-decoration:none;
}
var.vname{
color:green;
font-family:"Times New Roman";
font-size:25px;
}
ul#menu { width: 100%; 
height: 43px; 
background-color: #989898; 
font-size: 0.8em; 
font-family: "Lucida Grande", Verdana, sans-serif; 
font-weight: bold; 
list-style-type: none; 
margin: 0; 
padding: 0; }

ul#menu li a { 
height: 43px; 
color: #FFF0F5; 
text-decoration: none; 
display: inline; 
float: left; 
line-height: 200%;
padding: 8px 30px 0; }

ul#end { width: 100%; 
height: 43px; 
background-color: none; 
font-size: 0.8em; 
font-family: "Lucida Grande", Verdana, sans-serif; 
font-weight: bold; 
list-style-type: none; 
margin: 0; 
padding: 0; }
ul#end li a { 
height: 43px; 
color: blue; 
text-decoration: none; 
display: inline; 
float: left; 
line-height: 200%;
padding: 8px 30px 0; }
ul#end li a:hover { color: #9ACD32; }

ul#menu li a:hover { color: #9ACD32; }
a:hover{color:#9ACD32;}
div.li
{
width: 100%;
height:28px;
padding:0.5em;
color:;
background-color:gray;
}
td{
font-family:SolaimanLipi;
font-size:25px;
}
table{
height:30px;
}

a
{
text-decoration:none;
}

div.footer
{
text-align:center;
width:100%;
padding: 0.2em;
padding-bottom:0.2em;
color:white;
background-color:gray;
}
